@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Google+Sans&display=swap');

:root {
	---primary: #771E10 !important;
}

html, body {
    font-family: 'Noto Sans Thai', 'Google Sans', sans-serif;
}

input, select,
textarea {
    font-family: 'Noto Sans Thai', 'Google Sans', sans-serif;
    /* font-family: 'Google Sans', sans-serif; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

nav.bg-eng {
	background-color: var(---primary);
}

.google-sans {
    font-family: 'Google Sans', sans-serif !important;
}

#carousel-1,.carousel-item>img {
  height: calc((100vh - 56px)/2);
}
