@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Google+Sans&display=swap');

:root {
	---primary: #771E10 !important;
}

html, body {
	margin: 0;
	height: 100%;
    font-family: 'Noto Sans Thai', 'Google Sans', sans-serif;
}

input, select,
textarea {
    font-family: 'Noto Sans Thai', 'Google Sans', sans-serif;
    /* font-family: 'Google Sans', sans-serif; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.google-sans {
    font-family: 'Google Sans', sans-serif !important;
}

footer {
	position: fixed;
	bottom: 0;
	max-width: 100%;
	min-width: 100%;
	margin-top: -111px;
}

nav.bg-eng {
	background-color: var(---primary);
}
